/*
body {
    font-family: Verdana, Tahoma, Arial, Serif;
    font-size: 12px;
    text-align: center;
    background: #D4D9E1;
}
*/

html, body {
    font-family: Verdana, Tahoma, Arial, Serif;
    font-size: 12px;
    text-align: center;
    background: #fff;
    height: 100%;
    margin: 0;
    padding: 0;
}

table {
    font-family: Verdana, Tahoma, Arial, Serif;
    font-size: 12px;
    border-collapse: separate;
}

form {
    margin: 0;
}

a:link,
a:active,
a:visited {
    text-decoration: none;
    color: #222222;
}

a:hover {
    color: #555555;
}

fieldset {
    border: 1px solid #ADB6CE;
    padding: 0px;
}

legend {
    margin-left: 10px;
    font-size: 12px;
}

div.fieldset {
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/*-----------------------------------------------------------------------------/
// ����� ��������
/-----------------------------------------------------------------------------*/

.textinput {
    background-color: #FFF;
    color: #000;
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 10px;
    border: 1px solid #A9B7CD;
    width: 95%;
    vertical-align: middle;
    padding: 2px;
}

.multitext {
    background-color: #FFF;
    color: #000;
    padding: 2px;
    border: 1px solid #A9B7CD;
    width: 95%;
    height: 120px;
    font-size: 11px;
    font-family: Verdana, Arial, Sans-Serif;
}

#green {
    background-color: #caf2d9;
}

#red {
    background-color: #f5cdcd;
}

.dropdown {
    background-color: #FFF;
    color: #000;
    font-family: Verdana, Arial, Sans-Serif;
    border: 1px solid #A9B7CD;
    font-size: 10px;
    vertical-align: middle;
}


/*-----------------------------------------------------------------------------/
// ����� ����.
/-----------------------------------------------------------------------------*/
/*
div.page_header {
    background: #5D87C7;
    border: 1px solid #345487;
    color: #FFFFFF;
    font-size: 10px;
    height: 33px;
    background-repeat: repeat-x;
    background-image: url(images/acp_logo_r.gif);
}
*/

div.login_header {
    background: #5D87C7;
    border: 1px solid #345487;
    color: #FFFFFF;
    font-size: 10px;
    height: 33px;
    background-repeat: repeat-x;
    background-image: url(images/acp_logo_r.gif);
}

div.page_header {
    background: transparent;
    height: 80px;
    background-repeat: no-repeat;
    background-image: url(images/rampage_cms.png);
    background-position: right;
    background-size: 110px;
    color: #186781;
    text-shadow: 1px 1px 2px color(srgb 0.9275 0.8969 0.9106);
    text-align: left;
    font-size: 19px;
}

div.page_header a:link,
div.page_header a:visited,
div.page_header a:active {
    color: #53a7dd;
    text-decoration: underline;
    font-size: 12px;
    font-weight: normal;
}

/*
#menu_divider {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 10px;
	text-align: center;
}
*/

/*
#menu_divider div {
	height: 100%;
	width: 10px;
	background-repeat: repeat-y;
	background-image: url(images/divider.png);
}
*/

/*-----------------------------------------------------------------------------/
// �������� �������
/-----------------------------------------------------------------------------*/

#tabwrap {
    background: #fff;
    border: 1px dashed #518697;
    border-top: 3px solid #186781;
    border-bottom: 0 none;
}

/*-----------------------------------------------------------------------------/
// ������� �������� ����.
/-----------------------------------------------------------------------------*/

#mainmenu {
    width: 250px;
    background: #fff;
    text-align: left;
    /*
    padding: 10px;
    padding-right: 0;
    */
}

/*-----------------------------------------------------------------------------/
// ��������� ������� ����.
/-----------------------------------------------------------------------------*/

div.title {
    background: #5D87C7;
    border: 1px solid #345487;
    color: #FFFFFF;
    font-weight: bold;
    padding: 2px 2px 2px 2px;
    background-image: url(images/tile_cat_small.gif);
}

/*-----------------------------------------------------------------------------/
// ����� ������� ����. : NEW!
/-----------------------------------------------------------------------------*/

.menulinkwrap {
    font-size: 10px;
    background-color: #EEF2F7;
    padding: 6px;
    border-bottom: 1px solid #E3E3E3;
}

.tableborder {
    border: 1px solid #99bbe8;
    border-top: none;
    background-color: #FFF;
}

/*-----------------------------------------------------------------------------/
// ������� ���������� ����.
/-----------------------------------------------------------------------------*/

table.box {
    background: #EEF2F7;
    border: 1px solid #345487;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*-----------------------------------------------------------------------------/
// ��������� ���������� ����.
/-----------------------------------------------------------------------------*/

div.sys_title {
    background: #5D87C7;
    border: 1px solid #702005;
    color: #FFFFFF;
    font-weight: bold;
    padding: 2px 2px 2px 2px;
    background-image: url(images/sys_tile_cat_small.gif);
}

/*-----------------------------------------------------------------------------/
// ������� ���������� ����.
/-----------------------------------------------------------------------------*/

table.sys_box {
    background: #FFBE97;
    border: 1px solid #702005;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}


/*-----------------------------------------------------------------------------/
// �������� ���� ( ������� )
/-----------------------------------------------------------------------------*/

#premainwnd {
    height: 100%;
    background-color: #315869;
    vertical-align: top;
    /*padding: 10px; 	*/
    /*padding-left: 0;	*/
}

#mainwnd {
    width: 100%;
    height: 100%;
    /*border: 1px solid #555555;*/
    background-color: #FFFFFF;
    vertical-align: top;
    padding: 10px;
    /*
    background-image: url(images/dolphin.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    */
}

/*
#only_premainwnd {
	width: 100%;
	height: 90%;
	background: #315869;
	padding: 10px;
	border: 1px solid #999;
}
*/

#only_mainwnd {
    height: 100%;
    /*border: 2px solid #518697; */

    border: 1px dashed #518697;
    border-top: 3px solid #186781;
    border-bottom: 0 none;

    background: #FFF;
    padding: 10px;
    /*
    background-image: url(images/dolphin.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    */
}

/*-----------------------------------------------------------------------------/
// ������ ����� � ����������
/-----------------------------------------------------------------------------*/

#copyright {
    margin: 10px;
    text-align: right;
    font-size: 10px;
}

/*-----------------------------------------------------------------------------/
// ������ ����� ������� ����� ������� �������
/-----------------------------------------------------------------------------*/

.create_new
{
    width: 100%;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    background: #F5F9FD;
    border: 1px solid #345487;
    margin-bottom: 10px;
    color: #3A4F6C;
}


/*-----------------------------------------------------------------------------/
// ������ "�������" ( submit4form )
/*----------------------------------------------------------------------------*/

.submit_update
{
    border: 1px solid #4C77B6;
    background-color: #EEF2F7;
    color: #000000;
    font-family: Verdana, Arial;
    font-size: 10px;
    font-weight: bold;
    padding: 2px;
}

/*-----------------------------------------------------------------------------/
// "��������� ������" - �������� ����� ������ �������� ����� �������� � IE
// ���������� � ��������� ���������� �0���� ����� ������ ������
/*----------------------------------------------------------------------------*/

.fake_submit { width: 0; height: 0; border: 0; }

/*-----------------------------------------------------------------------------/
// ��������� �� ������� ��� ���������� �����
/*----------------------------------------------------------------------------*/

.form_error {
    background: #F5F9FD;
    color: #AB1212;
    padding: 4px;
    margin-bottom: 6px;
}

/*============================================================================//
//
// 			�������� ��������� ��� ����������� ����� ����������
//
//============================================================================*/

.pagelink,
.pagelinklast,
.pagecurrent {
    border: 1px solid #345487;
    padding: 1px 3px 1px 3px;
    font-size: 11px;
}

.pagelinklast,
.pagelink {
    background: #EEF2F7;
}

.pagecurrent {
    background: #5982C2;
    color: #ffffff;
}

.pagelinklast a:active,
.pagelinklast a:visited,
.pagelinklast a:link,
.pagelink a:active,
.pagelink a:visited,
.pagelink a:link {
    text-decoration: none;
    color: #000000;
}

.pagelinkPopup {
    border: 1px solid #345487;
    padding: 0;
    border-radius: 0;
    background: #EEF2F7;
    font-size: 11px;
}

.pagelinkPopup > li {
    padding: 4px;
    display: flex;
    gap: 4px;
}
.pagelinkPopup > li > input {
    flex: 1 1 auto;
}

/*============================================================================//
//
// 								POP-UP MENUS
//
//============================================================================*/

.popupmenu {
    background: #EEF2F7;
    border: 1px solid #345487;
    text-align: left;
    font-size: 10px;
    white-space: nowrap;
}

.popupmenu-item {
    padding: 2px;
    white-space: nowrap;
    background: #EEF2F7;
    border-right: 1px solid #D1DCEB;
    border-bottom: 1px solid #D1DCEB;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
}

.popupmenu-item-last {
    background: #EEF2F7;
    border-right: 1px solid #D1DCEB;
    border-bottom: 1px solid #D1DCEB;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    padding: 2px;
    white-space: nowrap;
}

.popupmenu-item a:link,
.popupmenu-item a:visited,
.popupmenu-item-last a:link,
.popupmenu-item-last a:visited {
    color: #000000;
    font-weight: normal;
}

.popupmenu-item a:hover,
.popupmenu-item-last a:hover {
    color: #315584;
}


.popupmenu-category {
    color: #000000;
    font-size: 10px;
    letter-spacing: 0px;
    margin: 0;
    padding: 2px;
    border-bottom: 1px solid #345487;
}

.popup-button {
    border: 1px solid #345487;
    background: #EEF2F7;
    color: #000000;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 11px;
}

.popup-input {
    border: 1px solid #345487;
    height: 18px;
}

/*============================================================================//
//
// 			          �������������� �������� ������ ������
//
//============================================================================*/

/*-----------------------------------------------------------------------------/
// ����������� �������
/-----------------------------------------------------------------------------*/

.tab {
    /*
    border: 1px solid #345487;
    border-top: 0 none;
    width: 100%;
    */
    border: 1px solid #99bbe8;
    width: 100%;

}

/*-----------------------------------------------------------------------------/
// ��������� - ����� ��������.
/-----------------------------------------------------------------------------*/
/*
.row0
{
    background: #345487;
    color: #ffffff;
    font-weight: bold;
    height: 30px;
    padding-left: 10px;
    font-size: 11px;
	background-image: url(images/acp_logo.gif);
	background-position: top;
}
*/

/*
.row0
{
    background: #ff9936;
    color: #ffffff;
    font-weight: bold;
    height: 30px;
    padding-left: 10px;
    font-size: 11px;
}
*/

.row0 {
    overflow: hidden;
    color: #15428b;
    font: bold 11px tahoma, arial, verdana, sans-serif;
    padding: 5px 3px 4px 5px;
    border-bottom: 1px solid #99bbe8;
    line-height: 15px;
    background: transparent url(images/row0.gif) repeat-x 0 -1px;
}

/*-----------------------------------------------------------------------------/
// ������ � ���������� �� ������
/-----------------------------------------------------------------------------*/

.row0_err
{
    background: #345487;
    color: #ffffff;
    font-weight: bold;
    height: 34px;
    padding-left: 10px;
    background-image: url(images/tile_err.gif);
    font-size: 11px;
}


/*-----------------------------------------------------------------------------/
// ��������� - ����� ��������. ���������
/-----------------------------------------------------------------------------*/

.row0_sub
{
    background-color: #D1DCEB;
    color: #3A4F6C;
    font-weight: bold;
    padding: 6px;
    margin-top: 1px;
    font-size: 10px;
}

/*-----------------------------------------------------------------------------/
// ������� �����������, ������������
/-----------------------------------------------------------------------------*/

.row12 {
    padding: 4px;
    border-right: 1px solid #D1DCEB;
    border-bottom: 1px solid #D1DCEB;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    font-size: 10px;
    color: #304F6B;
}

/*-----------------------------------------------------------------------------/
// ������� ������, ��� �������, ������ - ������
/-----------------------------------------------------------------------------*/

.row1 {
    padding: 4px;
    background: #EEF2F7;
    border-right: 1px solid #D1DCEB;
    border-bottom: 1px solid #D1DCEB;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    font-size: 10px;
    color: #304F6B;
}

/*-----------------------------------------------------------------------------/
// �������, ��� �������, ������ - �������
/-----------------------------------------------------------------------------*/

.row2 {
    padding: 4px;
    background: #F5F9FD;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #D1DCEB;
    border-bottom: 1px solid #D1DCEB;
    font-size: 10px;
}

/*-----------------------------------------------------------------------------/
// ������� ������ - ������������
/-----------------------------------------------------------------------------*/

.row_top {
    background-color: #D1DCEB;
    color: #3A4F6C;
    font-weight: bold;
    padding: 6px;
    margin-top: 1px;
    font-size: 10px;
    border-right: 1px solid #fff;
}

/*-----------------------------------------------------------------------------/
// ������ ������ - ������ ��� ��� ����� �����
/-----------------------------------------------------------------------------*/

.row_sub,
.row_sub_accept,
.row_sub_decline {
    background-color: #EEF2F7;
    color: #3A4F6C;
    font-weight: bold;
    padding: 5px;
    margin-top: 1px;
    font-size: 10px;
    text-align: center;
    border-top: 1px solid #ffffff;
}

.row_sub input,
.row_sub_accept input,
.row_sub_decline input {
    border: 0;
    background: #EEF2F7;
    color: #222222;
    font-family: Verdana, Arial;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.row_sub_accept {
    text-align: left;
}

.row_sub_accept input {
    color: green;
}

.row_sub_decline {
    text-align: right;
}

.row_sub_decline input {
    color: red;
}

/*-----------------------------------------------------------------------------/
// ������ ������ - ������ ��� ��� ����� �����
/-----------------------------------------------------------------------------*/

.row_pagelinks {
    background-color: #EEF2F7;
    color: #3A4F6C;
    padding: 5px;
    margin-top: 1px;
    font-size: 10px;
    text-align: right;
    border-top: 1px solid #ffffff;
}

/*-----------------------------------------------------------------------------/
// ���� ��� �����
/-----------------------------------------------------------------------------*/

#magic_gallery td img {
    width: 120px;
    height: 120px
}

#magic_gallery td div img {
    width: 20px;
    height: 20px
}

/*-----------------------------------------------------------------------------/
// ����������� ������ � CRON-��������� � ���� ������������ �����
/-----------------------------------------------------------------------------*/

.cron_popup {
    position: absolute;
    width: auto;
    text-align: center;
    background: #EEE;
    border: 2px outset #555;
    padding: 4px;
    white-space: nowrap;
}

/*-----------------------------------------------------------------------------/
// ����� ���������� ���� wysiwyg-���������
/-----------------------------------------------------------------------------*/

#siteTreeLoadMessage {
    position:absolute;
    z-index:1001;
    display:block;
    width:100%;
    height:100%;
    left: 0;
    top: 0;
}

#siteTreeMessage {
    background-color: #EFF3F7;
    border:1px solid #ADB6CE;
    padding: 6px;
    width: 180px;
    color: #345487;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size:10px;
    font-weight: normal;
}

#dialogLoadMessage {
    position:absolute;
    z-index:1000;
    display:block;
    width:100%;
    height:100%;
    left: 0;
    top: 0;
}

#loadMessage {
    background-color:#666666;
    border:1px solid #333333;
    padding: 10px;
    width: 100px;
    color:#FFFFFF;
    font-family:verdana,arial,helvetica,sans-serif;
    font-size:12px;
    font-weight:bold
}

#uploadMessage {
    position:absolute;
    z-index:1001;
    display:none;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px
}

#uploadMessageText {
    background-color:threedface;
    border:1px solid threedshadow;
    padding: 10px;
    width: 300px;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#707070,direction=135,strength=3);
}

.scroll_list {
    scrollbar-face-color: #EFF3F7;
    scrollbar-base-color: #EFF3F7;

    scrollbar-highlight-color: #ffffff;
    scrollbar-shadow-color: #D1DCEB;

    scrollbar-arrow-color: #D1DCEB;
    scrollbar-track-color: #F7FBFF;
    scrollbar-darkshadow-color: #F7FBFF;
}

/*-----------------------------------------------------------------------------/
// ������� �������� ������ ����������
/-----------------------------------------------------------------------------*/

.tabnone
{
    float: left;
    width: 170px;
}
/*
.tabon
{
	border: 1px solid #345487;
	border-bottom: 2px solid #CCCBCB;
	background-color: #CCCBCB;
	padding: 9px;
	font-size:11px;
	float:left;
	width:auto;
	margin-top:0px;
	margin-right: 2px;
}

.taboff
{
	border: 1px solid #345487;
	border-bottom: 2px solid #CCCBCB;
	background-color: #CCCBCB;
	color: #333;
	padding-top: 6px;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 5px;
	font-size:10px;
	float: left;
	width: auto;
	margin-top:7px;
	margin-right: 2px;
}
*/

.tabon
{
    border: 1px solid #345487;
    border-bottom: 1px solid #186781;
    /*border-bottom: 2px solid #315869;			*/
    /*background-color: #186781;*/
    background: url(images/tab-bg.jpg) left top no-repeat #186781;
    padding: 9px;
    font-size:11px;
    float:left;
    width:auto;
    margin-top:0px;
    margin-right: 2px;
    color: #fff;
}

.taboff
{
    border: 1px solid #345487;
    border-bottom: 1px solid #186781;
    /*border-bottom: 2px solid #315869;			*/
    /*background-color: #315869;*/
    background: url(images/tab-bg.jpg) left top no-repeat #186781;
    color: #fff;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 5px;
    font-size:10px;
    float: left;
    width: auto;
    margin-top:7px;
    margin-right: 2px;
}

.tabon a:link,
.tabon a:visited,
.tabon a:active {
    color: #fff;
}

.taboff a:link,
.taboff a:visited,
.taboff a:active {
    color: #fff;
}

.tabon a:hover {
    text-decoration: underline;
}

.taboff a:hover {
    text-decoration: underline;
}




.main_menu_button
{
    background-color: #315869;
    color: #333;
    font-size:10px;
    float: left;
    width: auto;
    margin-top:7px;
    margin-right: 2px;
}

/*-----------------------------------------------------------------------------/
//
/-----------------------------------------------------------------------------*/

#mm_dd {
    border: 1px solid #345487;
    background: #7FB1EE;
    background-image: url(images/dmenu/mm_default.gif);
    color: #315869;
    cursor: pointer;
    font-weight: normal;
    font-size: 12px;
    height: 27px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 167px;
    box-shadow: 1px 1px 0 0 #1b6882;
    text-shadow: 1px 1px #ffc974;
}

#ext_dd_tree {
    position: absolute;
    left: 11px;
    top: 93px;
    width: auto;
    text-align: left;
    visibility: visible;
    z-index: 9999;
    display: block;
    min-width: 250px;
    box-shadow: 4px 4px 4px #506a8699;
    background: white;
}

#ext_dd_tree .x-panel-body {
    padding-bottom: 10px;
}

#siteTreeWindow {
    width: 100%;
    height: 85%;
    text-align: left;
    border-top: 3px solid #186781;
    margin-bottom: 2px;
}

#siteTreeWindow > div {
    border-top: 10px solid transparent;
}

.x-viewport *,
.x-viewport *::before,
.x-viewport *::after {
    box-sizing: content-box;
}

#mm_dd .link a:hover span {
    text-decoration:underline;
}

.menuDisabledNode a span {
    color: #bbb !important;
}

.menuEnabledNode a span {
    color: #222 !important;
    text-decoration: underline !important;
}

.sys-form-invalid {
    background: #ffeeee url('images/invalid_line.gif') repeat-x bottom;
    border: 1px solid #dd7870;
}

/*==============================================================================
 *
 *============================================================================*/

.sys-kernel-msg-error {
    color: #572210;
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #984123;
    background-image: url('images/exclamation.gif');
    background-color: #f4d1c5;
    background-repeat: no-repeat;
    background-position: 10px;
    margin-bottom: 20px;
    clear: both;
}

.sys-kernel-msg-info {
    color: #66b62b;
    padding: 10px;
    border: 1px solid #c2fc97;
    background-color: #e7fcd8;
    background-repeat: no-repeat;
    background-position: 10px;
    margin-bottom: 20px;
    clear: both;
}

/**
 *
 */
.placeHeader {
    font-size: 13px;
    text-align: left;
    line-height: 35px;
    color: #186781;
    font-weight: bold;
    border-top: 3px solid #186781;
}
