<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//RU" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru">
<head>
    <title>[?site_title] - [?pagetitle]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="content-language" content="ru" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="distribution" content="global" />
    <meta name="robots" content="index, follow" />
    <meta name="document-state" content="dynamic" />
    <meta name="keywords" content="[?keywords]" />
    <meta name="description" content="[?description]" />
    
    
    <link rel="stylesheet" href="/all-[?modifdate].css" type="text/css" />
    <script type="text/javascript" src="/scripts/jquery.func.js?[?modifdate]"></script>
    <!--[if lte IE 6]>
        <link rel="stylesheet" href="[?css]lteie6.css" type="text/css">

        <script language="JavaScript">
            jResize(1008,'jResize');
        </script>
    <![endif]-->
</head>
<body>
           
<div class="g_all jResize">  
    <div class="g_container">
        <div class="g_wrap">
            <!-- header -->
            <div class="g_header">

                <a href="/assets/public" class="logo"></a>

                <div class="icons">
                    <ul>
                        <li class="home">
                            <a class="home" title="На главную" href="/welcom/">&nbsp;&nbsp;&nbsp;</a>
                        </li>
                        <li class="mail">
                            <a class="mail" title="Карта сайта"  href="/feedback/">&nbsp;&nbsp;&nbsp;</a>
                        </li>
                        <li class="map">
                            <a class="map" title="Написать нам" href="/map/">&nbsp;&nbsp;&nbsp;</a>
                        </li>
                        <li class="print">
                            <a href="?print" target="_blank" title="Версия для печати">&nbsp;&nbsp;&nbsp;</a>
                        </li>
                    </ul>
                </div>
                
            </div>
            <!-- eof header -->
            
                         
            
            <div class="content" style="padding-left:0px;">
                 
                 <div class="logo-r">
                 <div class="logo-left">
                 <div class="logo-right">

                 </div>
                 </div>
                 </div>
                 
                 <div class="content-text-holder" style="width:300px; margin:auto;">
                 <br /><br /><br /><br />         <br />
                 <h1 style="font-size:18px; font-weight: normal;"><font color="red">У вас нет прав для просмотра этой страницы</font></h1>
                 Вы можете перейти на <a href="/assets/public">главная</a>.
                 


                    
                 </div>
                 
            </div>
                        
            
            <div class="clear"></div>
        </div> 
    </div>
    
    <div class="fix-bottom"></div>
</div>


<div class="g_footer jResize">

            <div class="clear dot"></div>
                <div class="logo-holder">
                     
                </div>
            <div class="clear dot"></div>
            
            <div class="footer-menu">
                <p align="right">
                    <a href="#">Мультимедиа архив</a> - <a href="#">Мультимедиа архив</a> - <a href="#">Мультимедиа архив</a>
                </p>
            </div>
    
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="190" height="67" valign="middle" align="center" class="axioma-link">
                        создание сайта <a href="http://www.web-axioma.ru/" target="_blank">by Axioma</a>
                    </td>
                    <td width="10">
                        
                    </td>
                    <td class="copyright">
                        <table>
                            <tr>
                                <td>
                                    &copy;
                                </td>
                                <td>
                                    [?cyear] Благотворительный фонд «Наследие»<br />
                                    <span>имени В.Г. Лаврика и Г.В. Смолянинова</span>
                                </td>
                            </tr>
                        </table>                        
                    </td>
                </tr>
            </table>
</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter15943333 = new Ya.Metrika({id:15943333, enableAll: true, webvisor:true});
        } catch(e) {}
    });
    
    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/15943333" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>